<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>

<body class="bg-gray-700 text-white p-2">
    <div class="rounded-md p-1 inline-block bg-purple-500 text-white">
        <a href="/">NoteApp</a>
    </div>
        <div class="w-[80%] mx-auto my-auto">
            <form action="/edit" method="post" class="flex flex-col gap-2 p-2">
                <input type="text" placeholder="Enter the title" name="prevtitle"
                    class="border border-black rounded-md p-2 outline-none" value="<%= title %>">
                <input type="text" placeholder="Enter the title" name="newtitle"
                    class="border border-black rounded-md p-2 outline-none">
                <input type="submit" class="rounded-md p-2 bg-yellow-500 text-white">
            </form>
        </div>
</body>

</html>