<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoteApp</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body class="bg-gray-700 text-white">
    <div class="p-2">
        <div class="rounded-md p-1 inline-block bg-purple-500 text-white">
            <a href="/">NoteApp</a>
        </div>
        <div class="w-[80%] mx-auto my-auto">
            <form action="/submit" method="post" class="flex flex-col gap-2 p-2">
                <input type="text" placeholder="Enter the title" name="title"
                    class="border border-black rounded-md p-2 outline-none">
                <textarea placeholder="Enter the content here" rows="10" name="content"
                    class="border border-black rounded-md p-2 outline-none"></textarea>
                <input type="submit" class="rounded-md p-2 bg-blue-500 text-white">
            </form>
            <div class="flex flex-row gap-2 justify-evenly my-2 flex-wrap">
                <% if (files.length>0) { %>
                    <% files.forEach((file)=>{ %>
                        <div class="p-2 border rounded-md border-black w-[20%]">
                            <h2 class="text-lg font-bold">
                                <%= file %>
                            </h2>
                            <div class="w-[100%] flex flex-row justify-between">
                                <a href="/paste/<%=file%>">See more</a>
                                <a href="/edit/<%=file%>">Edit file name</a>
                            </div>
                        </div>
                        <% }) %>

                            <% } else { %>
                                <h1>No data Found</h1>
                                <% } %>
            </div>
        </div>
</body>

</html>